@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e56b6f;
    position: fixed;
    z-index: 99;
}

header img{
    width: 10%;
    margin-left: 1%;
    width: 5%;
}

nav{
    display: flex;
    gap: 20px;
    margin-left: 70%;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-family: 'Sominetta', sans-serif;
    font-size: 1.2rem;
}


body{
    font-family: 'Sominetta', static;
    display: flex;
    flex-direction: column;
}

section{
    height: 100vh;
}

.Inicio{
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7e3ded3;
    background-image: url('/img/backInicio.png');
    background-size: cover;
    background-attachment: fixed;
}

.Inicio .descricao {
    font-family: 'Simonetta', static;
    padding: 50px;
    width: 90%;
}

.Inicio h1{
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.Inicio p{
    font-size: 1.5rem;
    text-align: center;
}

.Inicio img{
    width: 92%;
    padding-right: 40px;
    align-items: center;
}

.Sobre{
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 215, 215);
    flex-direction: row-reverse;
}

.Sobre .descricao{
    font-family: 'Simonetta', static;
    padding: 50px;
    width: 60%;
}

.Sobre h1{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.Sobre p{
    font-size: 1.8rem;
    text-align: left;
}

.Sobre img{
    width: 92%;
    align-items: center;
    margin-left: 30%;
    filter: drop-shadow(0 0 0.75rem #68666638);
}

.Stakeholders{
    display: flex;
    flex-direction: column;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7e3ded3;
}

.equipe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    width: 100%;
}

.equipe .img {
    width: 50%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe .img img{
    max-width: 70%;
    border-radius: 50%;
    align-items: center;
    margin-bottom: 10px;
    border: 3px solid #c97d80;
    filter: drop-shadow(0 0 0.75rem #6866666b);
}

.equipe .img h2, h3, p{
    text-align: center;
}

footer img{
    width: 10%;
    margin-left: 10px;
}