@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e56b6f;
    position: fixed;
    z-index: 99;
}

header img {
    width: 10%;
    margin-left: 1%;
    width: 5%;
}

nav {
    display: flex;
    gap: 20px;
    margin-left: 70%;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Sominetta', sans-serif;
    font-size: 1.2rem;
}


body {
    font-family: 'Sominetta', static;
    display: flex;
    flex-direction: column;
}

section {
    height: 100vh;
}

.Inicio {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7e3ded3;
    background-image: url('/img/backInicio.png');
    background-size: cover;
    background-attachment: fixed;
}

.Inicio .descricao {
    font-family: 'Simonetta', static;
    padding: 50px;
    width: 90%;
}

.Inicio h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.Inicio p {
    font-size: 1.5rem;
    text-align: center;
}

.Inicio img {
    width: 92%;
    padding-right: 40px;
    align-items: center;
}

.Sobre {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 215, 215);
    flex-direction: row-reverse;
}

.Sobre .descricao {
    font-family: 'Simonetta', static;
    padding: 50px;
    width: 60%;
}

.Sobre h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.Sobre p {
    font-size: 1.8rem;
    text-align: left;
}

.Sobre img {
    width: 92%;
    align-items: center;
    margin-left: 30%;
    filter: drop-shadow(0 0 0.75rem #68666638);
}

.Desenvolvedores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7e3ded3;
    font-family: 'Simonetta', static;

}

.Desenvolvedores .descricao h1 {
    margin-top: 25%;
    margin-bottom: 5%;
    font-size: 2rem;
}

.equipe {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.equipe .img {
    width: 25%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe .img img {
    max-width: 50%;
    border-radius: 50%;
    align-items: center;
    margin-bottom: 10px;
    border: 3px solid #c97d80;
    filter: drop-shadow(0 0 0.75rem #6866666b);
}

.equipe .img h2,
h3,
p {
    text-align: center;
}

.equipe .img h2 {
    font-size: 1.3rem;
}

.equipe .img h3 {
    font-size: 1rem;
}

.Feedbacks {
    background-color: rgb(216, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.Feedbacks .descricao {
    font-family: 'Simonetta', static;
}

.Feedbacks .descricao h1 {
    margin-top: 10%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.Feedbacks .relatos {
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
}

.Feedbacks .relato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    background: url('/img/papel.png') no-repeat center center;
    background-size: contain;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.Feedbacks .relato img {
    z-index: 1;
}

.Feedbacks .relato p {
    width: 40%;
    font-size: 1.1rem;
    text-align: center;
    z-index: 2;
    font-style: italic;
    z-index: 2;
    color: #333;
}

.Feedbacks .inferiores {
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #615e5e;
    width: 100%;
    height: 250px;
    color: white;
    font-family: 'Simonetta', static;
    justify-content: space-around;
    gap: 10%;
}

footer .logo {
    width: 100%;
    margin-left: 3%;
}

footer .logo img {
    width: 100%;
    margin-left: 5%;
}

footer .social {
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer .social img {
    width: 20%;
    margin: 3%;
}

footer .contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .endereco {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 0;
    align-items: flex-start;
}

footer .email {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 0;
    align-items: flex-start;
}

footer .parceiras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .parceiras h2 {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

footer .parceiras .img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    flex-direction: row;
    flex-wrap: wrap;
}

footer .parceiras img {
    width: 20%;
    margin: 5px;
}

/* Laptops */
@media (max-width: 1024px) {

    .Inicio .descricao,
    .Sobre .descricao,
    .Desenvolvedores,
    .Feedbacks,
    footer {
        width: 50%;
        margin: 0 auto;
    }

    .Inicio img,
    .Sobre img {
        width: 70%;
        padding-right: 10px;
    }

    .Inicio {
        display: flex;
        flex-direction: column-reverse;
    }

    .Sobre {
        display: flex;
        flex-direction: column-reverse;
        font-size: 20%;
    }

    nav {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    nav a {
        font-size: 12px;
        padding: 0 15px;
    }
}

/* Celulares */
@media (max-width: 767px) {
    header {
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }

    header img {
        width: 10%;
        margin-left: 5%;
    }

    nav {
        display: flex;
        margin: 0;
    }

    nav a {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    section {
        height: 100%;
    }

    .Inicio .descricao,
    .Sobre .descricao,
    .Desenvolvedores,
    .Feedbacks,
    footer {
        width: 100%;
        margin: 0 auto;
    }

    .Inicio,
    .Sobre {
        display: flex;
        flex-direction: column;
    }

    .Inicio img {
        display: flex;
        width: 60%;
        margin-left: 20%;
        margin-top: 20%;
    }

    .Inicio .descricao {
        padding: 20px;
        width: 90%;
    }

    .Inicio h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .Inicio p {
        font-size: 1.2rem;
        text-align: center;
    }

    .Inicio {
        flex-direction: column-reverse;
    }

    .Sobre {
        flex-direction: column;
    }

    .Sobre .descricao {
        padding: 20px;
        width: 90%;
    }

    .Sobre h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .Sobre p {
        font-size: 1.1rem;
        text-align: left;
    }

    .Sobre .imagem {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .Sobre img {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .Desenvolvedores .descricao h1 {
        font-size: 1.7rem;
        margin: 20% 0;
    }

    .equipe {
        width: 100%;
        padding: 0;
        gap: 20px;
    }

    .equipe .img {
        width: 70%;
        padding: 0;
    }

    .equipe .img h2 {
        font-size: 1rem;
    }

    .equipe .img p {
        margin-bottom: 10%;
    }

    .Feedbacks .descricao h1 {
        font-size: 1.7rem;
        margin: 15% 0;
    }

    .Feedbacks .relatos,
    .Feedbacks .inferiores {
        width: 100%;
        margin: 0;
    }

    .Feedbacks .relato {
        width: 95%;
        margin: 0;
    }

    .Feedbacks .relato p {
        width: 90%;
        font-size: 0.9rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 40px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
        color: white;
        font-family: 'Simonetta', static;
    }

    footer .logo {
        width: 40%;
        margin-top: 20px;
        margin-left: 0;
        padding: 0;
        display: flex;
    }

    footer .social {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .social a {
        display: flex;
        justify-content: center;
    }

    footer .contato, footer .endereco, footer .email {
        display: flex;
        align-items: center;
    }

    footer .parceiras {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .parceiras .img {
        display: flex;
        align-items: flex-start;
        width: 70%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}